profiles {
    local {
        process.executor  = 'local'
    }

    docker {
        docker.enabled    = true
        process.container = 'ghcr.io/ncihtan/nf-imagecleaner'
    }

    tower {
        docker.enabled    = true
        process {
            container     = 'ghcr.io/ncihtan/nf-imagecleaner'
            cpus          = { 1 * task.attempt }
            memory        = { 1.GB * task.attempt }
            maxRetries    = 3
            errorStrategy = 'retry'
         }
    }
}
